---
---

@import "{{site.theme}}";

body{
  /*Image is property of https://hdqwalls.com/download/1366x768/minimalist-mountains-black-and-white*/
  /*background-image: url("https://images.hdqwalls.com/download/minimalist-mountains-black-and-white-ap-1366x768.jpg");*/
  /*background-image: url("https://wallpaperaccess.com/full/836375.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

.site-footer{
  background-color: lightgray;
}

.social-media-link{
  padding-top: 0 !important;
  padding-bottom: 5px;
  margin-right: 8px;
  float: left;
}

.svg-icon{
  vertical-align: middle;
}

.footer-col-3{
  float: left;
}

.site-title{
  margin-right: 20px;
}
